{% extends 'base/main.html' %}
{% block content %}


<h3>Task form</h3>
<a href="{% url 'tasks' %}">Go back</a> 

<!-- this is the submit button that sends the form data to the server when clicked -->
 <!-- type attribute specifies a submit button, value attribute specifies a text displayed on the button to "Submit"-->
<form method="POST" action="">
    <!-- when a user submits a form, Django checks for a CSRF token in the request-->
     <!-- if the token is missing or invalid, Django will reject the request -->
      <!-- this ensures that the request is coming from a trusted source like user's browser and not from a malicious attacker-->
    {%csrf_token%}
    <!-- to render the form object as a paragraph -->
    <!-- ensures that, without having to manually create HTML elements for each field -->
    {{form.as_p}} 
    <input type="submit" value="Submit">
</form>

{% endblock content %}