{%extends 'base/main.html' %}
{% block content %}


{% if request.user.is_authenticated %}
<p>{{request.user}}</p> <!-- the name of the user who requested-->
<!--this will submit the form and submit a POST request to the logout view when the logout link is clicked -->
<!-- used to create a logout link that sends a POST request to the logout view when clicked-->
<!-- the function submits the form with the ID logout-form, which sends a POST request to the URL specified in the action attribute-->
<a href="#" onclick="document.getElementById('logout-form').submit()">Logout</a>
<form id="logout-form" action="{% url 'logout' %}" method="post"> <!-- this will run with the logout/ path in the urls.py -->
  {% csrf_token %}
</form>
{%else%}
<a href="{% url 'login' %}">Login</a>
{%endif%}

<hr>
<h1>My To Do List  {{color}}</h1>
<a href="{%url 'task-create' %}">Add task</a>

<!-- this form with GET method used to get specific task from the database by searching its name -->
<form method="GET">
  <input type="text" name="search-area" value="{{search_input}}">
  <input type="submit" value="Search">
</form>

<table> <!-- to organize data in rows and columns -->
  <tr> <!-- table row -->
    <th> Item</th> <!-- header cell in the table, which displays the text "Item"-->
    <th></th> 
    <th></th> 
    </tr> 
    <!-- this is a for loop in the templating engine -->
    <!-- which iterates over a list of tasks(' object_list')-->
    <!-- for each task, it will render the HTML code inside the loop-->
    {% for task in tasks %} 
    <tr>
      <!-- which displays the value of Item for each task in the object_list-->
      <td>{{task.title}}</td>  <!-- td defines standard cell in the table-->
      <!--a is an anchor element, which creates a hyperlink -->
      <!--href specifies the URL of the link -->
      <!-- {% url 'task' task.id%}: this is a template tag in the templating engine (likely Django)-->
      <!-- that generates a URL, calls a URL pattern named task/task.id as an argument  -->
      <!-- View is the text that will be displayed as the link text-->
      <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
      <!-- when Delete tag is clicked, this url is directed -->
      <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>  
    </tr>
    {%empty%}  <!-- to check if the object_list is empty-->
    <h3>No items in list</h3> <!-- to display this message when object list is empty -->
    {%endfor%}  <!-- to end for loop-->
  </table> 


{% endblock content %}